<main role="main" class="container">
  <p class="alert alert-info" role="alert"><.flash kind={:info} flash={@flash} /></p>
  <p class="alert alert-danger" role="alert"><.flash kind={:error} flash={@flash} /></p>
  <%= @inner_content %>
</main>
