<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title suffix=" · Play Cornucopia Online">
      <%= assigns[:page_title] || "Copi" %>
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/css/app.css"}/>

    <script defer phx-track-static type="text/javascript" src={~p"/js/app.js"}></script>

    <%= if Application.get_env(:copi, :env) == :prod do %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-BCGW8B7J2T"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BCGW8B7J2T');
      </script>
    <% end %>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <a href="https://securedelivery.io/" class="sd-logo">
            <img src={~p"/images/sd-logo-line.png"} alt="Secure Delivery Logo"/>
          </a>
        </nav>
        <a href="/" class="phx-logo">
          <img src={~p"/images/copi-logo.png"} alt="Copi Logo"/>
        </a>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
