output/*.idml filter=lfs diff=lfs merge=lfs -text
resources/*.idml filter=lfs diff=lfs merge=lfs -text
resources/templates/*.idml filter=lfs diff=lfs merge=lfs -text
output/*.docx filter=lfs diff=lfs merge=lfs -text
