* text=auto
output/*.docx filter=lfs diff=lfs merge=lfs -text
output/*.idml filter=lfs diff=lfs merge=lfs -text
resources/fonts/Atkinson-Hyperlegible-Font-Print-and-Web-2020-0514.zip filter=lfs diff=lfs merge=lfs -text
resources/fonts/fivo_sans.zip filter=lfs diff=lfs merge=lfs -text
*.py text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.lock text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.ini text eol=lf
*.json text eol=lf
*.config text eol=lf
*.eex text eol=lf
*.ex text eol=lf
*.exs text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.toml text eol=lf
*.gitignore text eol=lf
.gitattributes text eol=lf
.editorconfig text eol=lf
Dockerfile text eol=lf
Pipfile text eol=lf