output/*.docx filter=lfs diff=lfs merge=lfs -text
output/*.idml filter=lfs diff=lfs merge=lfs -text
resources/fonts/Atkinson-Hyperlegible-Font-Print-and-Web-2020-0514.zip filter=lfs diff=lfs merge=lfs -text
resources/fonts/fivo_sans.zip filter=lfs diff=lfs merge=lfs -text
