[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==26.1.0"
coverage = "==7.13.4"
flake8 = "==7.3.0"
httpretty = "==1.1.4"
mypy = "==1.19.1"
pytest = "==9.0.2"
pytest-cov = "==7.0.0"
freezegun = "==1.5.5"
security = "==1.3.1"
types-pyyaml = "==6.0.12.20250915"

[packages]
idna = "==3.11"
pypng = "==0.20220715.0"
qrcode = "==8.2"
requests = "==2.32.5"
types-requests = "==2.32.4.20260107"
typing_extensions = ">=4.14.1"
urllib3 = "==2.6.3"
charset-normalizer = "==3.4.4"
python-docx = "==1.1.0"
PyYAML = "==6.0.1"
pyqrcode = "==1.2.1"
docx2pdf = "==0.1.8"
lxml = "==6.0.1"
defusedxml = "==0.7.1"
types-defusedxml = "==0.7.0.20250822"
pathvalidate = "==3.3.1"
security = "==1.3.1"
colorama = "*"
mypy = "*"
pydantic = {version = "==2.12.5", hash = "sha256:e561593fccf61e8a20fc46dfc2dfe075b8be7d0188df33f221ad1f0139180f9d"}
pydantic-core = {version = "==2.41.5", hash = "sha256:8e7c86f27c585ef37c35e56a96363ab8de4e549a95512445b85c96d3e2f7c1bf"}

[requires]
python_version = "3.14"
