[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "==5.2.1"
mypy = "==0.782"
black = "==21.6b0"
flake8 = "==3.8.3"
httpretty = "==1.0.2"

[packages]
python-docx = "==0.8.11"
PyYAML = "==5.4.1"
docx2pdf = "*"
lxml = "==4.5.0"
google-auth-oauthlib = "*"
google = "*"

[requires]
python_version = "3"
