[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==23.7.0"
coverage = "==7.2.7"
flake8 = "==6.1.0"
httpretty = "==1.1.4"
mypy = "==1.4.1"
pytest = "==7.4.0"
pytest-cov = "==4.1.0"
freezegun = "==1.2.2"

[packages]
idna = "==3.4"
pypng = "==0.20220715.0"
qrcode = "==7.4.2"
requests = "==2.31.0"
types-requests = "==2.31.0.2"
typing_extensions = "==4.7.1"
urllib3 = "==2.0.4"
charset-normalizer = "==3.2.0"
python-docx = "==0.8.11"
PyYAML = "==6.0.1"
pyqrcode = "==1.2.1"
types-PyYAML = "==6.0.12.11"
docx2pdf = "==0.1.8"
lxml = "==4.9.3"

[requires]
python_version = "3.10"
