<%= f = form_for @changeset, "#",
  id: "game-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>

  <%= label f, :name, gettext "Give your game session a friendly name so people joining know what's up" %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= submit gettext "Create the game", phx_disable_with: "Starting game..." %>
</form>
