<h1>Cornucopia Session</h1>

<h2><%= @game.name %></h2>

<%= if @game.started_at do %>
  <h3>Started: <%= @game.started_at %></h3>
<% else %>
  <h3><%= gettext "Waiting for players..." %></h3>
<% end %>

<span><%= live_redirect "Back", to: Routes.game_index_path(@socket, :index) %></span>
