/*
  This file is just for cleanly defining the nested css for presenting card decks.
  All application styling is done with tailwind css classes directly in the templates.
*/

@font-face {
  font-family: 'Segoe';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe'), url('/fonts/segoe.woff') format('woff');
}

@font-face {
  font-family: 'Segoe Light';
  font-style: normal;
  font-weight: 300;
  src: local('Segoe'), url('/fonts/segoe-light.woff') format('woff');
}

@font-face {
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe'), url('/fonts/segoe-ui.woff') format('woff');
}

@font-face {
  font-family: 'Segoe Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Segoe Condensed'), url('/fonts/segoe-condensed.woff') format('woff');
}
@font-face {
  font-family: 'Segoe Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Segoe Condensed'), url('/fonts/segoe-condensed-bold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Light'), url('/fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), url('/fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans SemiBold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans SemiBold'), url('/fonts/OpenSans-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), url('/fonts/OpenSans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans ExtraBold';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans ExtraBold'), url('/fonts/OpenSans-ExtraBold.woff') format('woff');
}
@font-face {
  font-family: 'Josefin Sans Regular';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Regular'), url('/fonts/JosefinSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Josefin Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Josefin Sans Bold'), url('/fonts/JosefinSans-Bold.woff') format('woff');
}



/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: clamp(20px, 2vw, 32px);
  border: clamp(1px, 0.1vw, 2px) solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: clamp(28px, 2.8vw, 45px);
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1vw 0 2vw;
}

.phx-logo img {
  height: 80px;
}

.sd-logo img {
  height: 80px;
}

.screenshots td {
  text-align: center;
}

.button a {
  color: #fff;
}

th {
  font-weight: normal;
}
th.numeric, td.numeric {
  text-align: right;
}

.card {
  float: left;
  display: flex;
  margin: clamp(10px, 1vw, 16px);
  width: clamp(200px, 20vw, 320px);
  height: clamp(293px, 29.3vw, 469px);
  border-radius: clamp(10px, 1vw, 16px);
  background-color: #fff;
  -webkit-box-shadow: 0.3vw 0.3vw 0.7vw rgba(0,0,0,0.3);
  box-shadow: 0.3vw 0.3vw 0.7vw rgba(0,0,0,0.3);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
 Helvetica, Arial, sans-serif,
 "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.webapp {
  height: clamp(313px, 31.3vw, 501px);
}

$authentication-color: #70a6be;
$authorization-color: #c6b571;
$data-validation-encoding-color: #92929b;
$session-management-color: #9ecd90;
$cryptography-color: #9792c7;
$cornucopia-color: #405369;
$wildcard-color: #fccd8f;

$platform-code-mobile-color: rgb(79, 185, 145);
$authentication-authorization-mobile-color: rgb(240, 146, 54);
$network-storage-mobile-color: rgb(242, 194, 0);
$resilience-mobile-color: rgb(49, 124, 192);
$cryptography-mobile-color: rgb(246, 89, 40);
$cornucopia-mobile-color: rgb(10, 58, 94);
$wildcard-mobile-color: rgb(251, 182, 124);

.card {

  .left-bar {
    float: left;
    height: 100%;
    width: clamp(32px, 3.2vw, 51px);
    padding: clamp(16px, 1.6vw, 26px) clamp(8px, 0.8vw, 13px);
    border-top-left-radius: clamp(10px, 1vw, 16px);
    border-bottom-left-radius: clamp(10px, 1vw, 16px);

    color: #fff;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: clamp(13px, 1.3vw, 21px);
    font-weight: 600;
    text-align: left;
    line-height: 1.4;
  }
}

.platform-code-mobile .left-bar {
  background-image: linear-gradient(rgb(79, 185, 145), rgb(95, 172, 211));
}

.platform-code-mobile .value {
  color: $platform-code-mobile-color;
}

.authentication-authorization-mobile .left-bar {
  background-image: linear-gradient(rgb(240, 146, 54), rgb(240, 179, 98));
}

.authentication-authorization-mobile .value {
  color: $authentication-authorization-mobile-color;
}

.network-storage-mobile .left-bar {
  background-image: linear-gradient(rgb(242, 194, 0), rgb( 223, 92, 141));
}

.network-storage-mobile .value {
  color: $network-storage-mobile-color;
}

.resilience-mobile .left-bar {
  background-image: linear-gradient(rgb(49, 124, 192), rgb(79, 138 ,192));
}

.resilience-mobile .value {
  color: $resilience-mobile-color;
}

.cryptography-mobile .left-bar {
  background-image: linear-gradient(rgb(246, 89, 40), rgb(246, 135, 101));
}

.cryptography-mobile .value {
  color: $cryptography-mobile-color;
}

.cornucopia-mobile .left-bar {
  background-image: linear-gradient(rgb(10, 58, 94), rgb(39, 70, 94));
}

.cornucopia-mobile .value {
  color:$cornucopia-mobile-color;
}

.wild-card-mobile .left-bar {
  background-image: linear-gradient(rgb(251, 182, 124), rgb(255, 230, 209));
}

.wild-card-mobile {
  background-image: linear-gradient(to left,rgb(251, 182, 124, 0.49), rgb(255, 230, 209, 0.49));
}

.wild-card-mobile .value {
  color:$wildcard-mobile-color;
}

.data-validation-encoding .left-bar {
  background-color: $data-validation-encoding-color;
}

.data-validation-encoding .value {
  color: $data-validation-encoding-color;
}

.authentication .left-bar {
  background-color: $authentication-color;
}

.authentication .value {
  color: $authentication-color;
}

.authorization .left-bar {
  background-color: $authorization-color;
}

.authorization .value {
  color: $authorization-color;
}

.session-management .left-bar {
  background-color:$session-management-color;
}

.session-management .value {
  color:$session-management-color;
}

.cryptography .left-bar {
  background-color: $cryptography-color;
}

.cryptography .value {
  color: $cryptography-color;
}

.cornucopia .left-bar {
  background-color:$cornucopia-color;
}

.cornucopia .value {
  color:$cornucopia-color;
}

.wild-card .left-bar {
  background-color:$wildcard-color;
}


.wild-card .value {
  color:$wildcard-color;
}

.card {
  p, dl {
    letter-spacing: clamp(-0.05em, -0.02vw, -0.1em);
  }
  .main-content {
    position: relative;
    height: 100%;
    padding: clamp(2px, 0.2vw, 3px) clamp(8px, 0.8vw, 13px);
    color:#333;
    .description a.info {
      padding-top: clamp(2px, 0.2vw, 3px);
      display: inline-block;
      color: #333;
      font-weight: 600;
      font-size: clamp(10px, 1vw, 16px);
      text-decoration: underline;
    }
    .description a.info:hover {
      color: #666;
      text-decoration: none;
    }
  }
}

.J, .Q, .K {
  &.platform-code-mobile {
    background-image: linear-gradient(to left,rgba(79, 185, 145,  0.49), rgba(95, 172, 211,  0.49));
  }

  &.authentication-authorization-mobile {
    background-image: linear-gradient(to left, rgb(240, 146, 54, 0.49), rgb(240, 179, 98, 0.49));
  }

  &.network-storage-mobile {
    background-image: linear-gradient(to left,rgb( 242, 194, 0, 0.49), rgb( 223, 92, 141, 0.49));
  }

  &.resilience-mobile {
    background-image: linear-gradient(to left,rgb( 49, 124, 192, 0.49), rgb( 79, 138 ,192, 0.49));
  }

  &.cryptography-mobile {
    background-image: linear-gradient(to left,rgb(  246, 89, 40, 0.49), rgb( 246, 135, 101, 0.49));
  }

  &.cornucopia-mobile {
    background-image: linear-gradient(to left,rgb( 10, 58, 94, 0.20), rgb( 39, 70, 94, 0.20));
  }



  //

  &.authentication {
    background-color: scale-color($authentication-color, $lightness: 75%, $saturation:  -20%);
  }

  &.authorization {
    background-color: scale-color($authorization-color, $lightness: 75%, $saturation:  -20%);
  }

  &.data-validation-encoding {
    background-color: scale-color($data-validation-encoding-color, $lightness: 75%, $saturation:  -20%);
  }

  &.session-management {
    background-color: scale-color($session-management-color, $lightness: 75%, $saturation:  -20%);
  }

  &.cryptography {
    background-color: scale-color($cryptography-color, $lightness: 75%, $saturation:  -20%);
  }

  &.cornucopia {
    background-color: scale-color($cornucopia-color, $lightness: 75%, $saturation:  -20%);
  }

  &.wildcard {
    background-color: scale-color($wildcard-color, $lightness: 75%, $saturation:  -20%);
  }

  p.value { color: #fff; }
}

.card p.value {
  margin: 0 0 clamp(4px, 0.2vw, 6px) 0;
  text-align: right;
  vertical-align: top;
  font-size: clamp(46px, 4.6vw, 74px);
  letter-spacing: normal; 
  line-height: 1;
  font-weight:bold
}

.card p.description {
  flex-grow: 1;
  margin: 0;
  font-size: clamp(9px, 0.9vw, 14px);
  font-weight: 400;
  line-height: 1.2;
}

.card p.misc {
  margin-top: 6vw;
  font-size: clamp(10px, 1vw, 16px);
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
}

.card .mappings {
  position: absolute;
  bottom: 0;
  width: 85%;
  margin: 0 0 clamp(6px, 0.6vw, 10px) 0;
  font-size: clamp(7px, 0.7vw, 11px);
  font-weight: 500;
  line-height: 1.4;

  dt {
    margin: 0;
  }

  dd {

    margin: 0 0 clamp(1px, 0.02vw, 2px) 0;
    border-bottom: solid 0.1vw rgb(128, 127, 127);
  }
}

/* EOP Card Styles */

.card.eop {

  .left-value {
    flex: none;
    position: relative;
    top: clamp(30px, 3vw, 48px);

    height: clamp(60px, 6vw, 96px);
    width: clamp(46px, 4.6vw, 74px);

    background: grey;

    padding: clamp(23px, 2.3vw, 37px) 0;
    border-top-right-radius: clamp(10px, 1vw, 16px);
    border-bottom-right-radius: clamp(10px, 1vw, 16px);

    color: #fff;
    text-transform: uppercase;
    font-family: 'Segoe Condensed';
    font-size: clamp(34px, 3.4vw, 55px);
    font-weight: 600;
    text-align: center;
    line-height: clamp(14px, 1.4vw, 22px);
  }

  .main-content {
    overflow: hidden;
    flex: auto;
    padding: clamp(11px, 1.1vw, 18px) clamp(10px, 1vw, 16px);

    .value {
      position: absolute;
      bottom: clamp(40px, 4vw, 64px);
      right: clamp(-24px, -2.4vw, -38px);
      color: rgb(180, 180, 180);
      font-family: 'Segoe UI';
      font-size: clamp(168px, 16.8vw, 269px);
      font-weight: 400;
      z-index: -1;
    }

    .category {
      margin: clamp(32px, 3.2vw, 51px) 0 0 0;
      font-family: 'Segoe Light';
      font-size: clamp(18px, 1.8vw, 29px);
      font-weight: 300;
    }

    .description {
      font-family: 'Segoe';
      font-size: clamp(10px, 1vw, 16px);
      padding-right: 0px;
      line-height: 1.3;
    }
  }


  &.spoofing {

    .left-value {
      background: rgb(117, 35, 26)
    }

    .value {
      color: rgb(180, 180, 180);
    }

    &.nJ, &.nQ, &.nK {
      background: rgb(178, 25, 74);

      .main-content {
        color: #fff;
      }

    }

    &.n2 {
      background: no-repeat top/100% url("/images/eop-cards/spoofing-2.png") #fff;
    }
    &.n3 {
      background: no-repeat top/100% url("/images/eop-cards/spoofing-3.png") #fff;
    }
    &.n4 {
      background: no-repeat bottom/100% url("/images/eop-cards/spoofing-4.png") #fff;
    }
    &.n5 {
      background: no-repeat top/100% url("/images/eop-cards/spoofing-5.png") #fff;
    }
    &.n6 {
      background: no-repeat bottom/100% url("/images/eop-cards/spoofing-6.png") #fff;
    }
    &.n7 {
      background: no-repeat center/100% url("/images/eop-cards/spoofing-7.png") #fff;
    }
    &.n8 {
      background: no-repeat top/100% url("/images/eop-cards/spoofing-8.png") #fff;
    }
    &.n9 {
      background: no-repeat center/100% url("/images/eop-cards/spoofing-9.png") #fff;
    }
    &.n10 {
      background: no-repeat top/100% url("/images/eop-cards/spoofing-10.png") #fff;
    }
    &.nJ {
      background: no-repeat center/100% url("/images/eop-cards/spoofing-j.png") #fff;
    }
    &.nQ {
      background: no-repeat center/100% url("/images/eop-cards/spoofing-q.png") #fff;
    }
    &.nK {
      background: no-repeat center/100% url("/images/eop-cards/spoofing-k.png") #fff;
    }
    &.nA {
      background: no-repeat bottom/100% url("/images/eop-cards/spoofing-a.png") #fff;
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

  &.tampering {
    .left-value {
      background: rgb(2, 113, 55)
    }

    .value {
      color: rgb(185, 217, 165);
    }

    &.nJ, &.nQ, &.nK {
      background: rgb(116, 187, 99);

      .main-content {
        color: #fff;
      }
    }

    &.n2 {
      background: no-repeat top/100% url("/images/eop-cards/tampering-2.png") #fff;
    }
    &.n3 {
      background: no-repeat top/100% url("/images/eop-cards/tampering-3.png") #fff;
    }
    &.n4 {
      background: no-repeat bottom/100% url("/images/eop-cards/tampering-4.png") #fff;
    }
    &.n5 {
      background: no-repeat top/100% url("/images/eop-cards/tampering-5.png") #fff;
    }
    &.n6 {
      background: no-repeat bottom/100% url("/images/eop-cards/tampering-6.png") #fff;
    }
    &.n7 {
      background: no-repeat center/100% url("/images/eop-cards/tampering-7.png") #fff;
    }
    &.n8 {
      background: no-repeat top/100% url("/images/eop-cards/tampering-8.png") #fff;
    }
    &.n9 {
      background: no-repeat center/100% url("/images/eop-cards/tampering-9.png") #fff;
    }
    &.n10 {
      background: no-repeat top/100% url("/images/eop-cards/tampering-10.png") #fff;
    }
    &.nJ {
      background: no-repeat top/100% url("/images/eop-cards/tampering-j.png") #fff;
    }
    &.nQ {
      background: no-repeat top/100% url("/images/eop-cards/tampering-q.png") #fff;
    }
    &.nK {
      background: no-repeat center/100% url("/images/eop-cards/tampering-k.png") #fff;
    }
    &.nA {
      background: no-repeat bottom/100% url("/images/eop-cards/tampering-a.png") #fff;
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

  &.repudiation {
    .left-value {
      background: rgb(117, 35, 26)
    }

    .value {
      color: rgb(229, 114, 63);
    }

    &.nJ, &.nQ, &.nK {
      background: rgb(229, 114, 63);

      .main-content {
        color: #fff;
      }
    }

    &.n2 {
      background: no-repeat top/100% url("/images/eop-cards/repudiation-2.png") #fff;
    }
    &.n3 {
      background: no-repeat top/100% url("/images/eop-cards/repudiation-3.png") #fff;
    }
    &.n4 {
      background: no-repeat bottom/100% url("/images/eop-cards/repudiation-4.png") #fff;
    }
    &.n5 {
      background: no-repeat top/100% url("/images/eop-cards/repudiation-5.png") #fff;
    }
    &.n6 {
      background: no-repeat bottom/100% url("/images/eop-cards/repudiation-6.png") #fff;
    }
    &.n7 {
      background: no-repeat center/100% url("/images/eop-cards/repudiation-7.png") #fff;
    }
    &.n8 {
      background: no-repeat top/100% url("/images/eop-cards/repudiation-8.png") #fff;
    }
    &.n9 {
      background: no-repeat center/100% url("/images/eop-cards/repudiation-9.png") #fff;
    }
    &.n10 {
      background: no-repeat top/100% url("/images/eop-cards/repudiation-10.png") #fff;
    }
    &.nJ {
      background: no-repeat center/100% url("/images/eop-cards/repudiation-j.png") #fff;
    }
    &.nQ {
      background: no-repeat center/100% url("/images/eop-cards/repudiation-q.png") #fff;
    }
    &.nK {
      background: no-repeat bottom/100% url("/images/eop-cards/repudiation-k.png") #fff;
    }
    &.nA {
      background: no-repeat bottom/100% url("/images/eop-cards/repudiation-a.png") #fff;
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

  &.information-disclosure {
    .left-value {
      background: rgb(255, 240, 39)
    }

    .value {
      color: rgb(0, 159, 156);
    }

    &.nJ, &.nQ, &.nK {
      background: rgb(0, 159, 156);

      .main-content {
        color: #fff;
      }
    }

    &.n2 {
      background: no-repeat top/100% url("/images/eop-cards/information-disclosure-2.png") #fff;
    }
    &.n3 {
      background: no-repeat top/100% url("/images/eop-cards/information-disclosure-3.png") #fff;
    }
    &.n4 {
      background: no-repeat bottom/100% url("/images/eop-cards/information-disclosure-4.png") #fff;
    }
    &.n5 {
      background: no-repeat top/100% url("/images/eop-cards/information-disclosure-5.png") #fff;
    }
    &.n6 {
      background: no-repeat bottom/100% url("/images/eop-cards/information-disclosure-6.png") #fff;
    }
    &.n7 {
      background: no-repeat top/100% url("/images/eop-cards/information-disclosure-7.png") #fff;
    }
    &.n8 {
      background: no-repeat top 15px left/100% url("/images/eop-cards/information-disclosure-8.png") #fff;
    }
    &.n9 {
      background: no-repeat center/100% url("/images/eop-cards/information-disclosure-9.png") #fff;
    }
    &.n10 {
      background: no-repeat top 28px left/100% url("/images/eop-cards/information-disclosure-10.png") #fff;
    }
    &.nJ {
      background: no-repeat center/100% url("/images/eop-cards/information-disclosure-j.png") #fff;
    }
    &.nQ {
      background: no-repeat top left/100% url("/images/eop-cards/information-disclosure-q.png") #fff;
    }
    &.nK {
      background: no-repeat top 9px left/100% url("/images/eop-cards/information-disclosure-k.png") #fff;
    }
    &.nA {
      background: no-repeat bottom/100% url("/images/eop-cards/information-disclosure-a.png") #fff;
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

  &.denial-of-service {
    .left-value {
      background: rgb(26, 25, 25)
    }

    .value {
      color: rgb(180, 181, 180);
    }

    &.nJ, &.nQ, &.nK {
      background: rgb(102, 102, 101);

      .main-content {
        color: #fff;
      }
    }

    &.n2 {
      background: no-repeat top/100% url("/images/eop-cards/denial-of-service-2.png") #fff;
    }
    &.n3 {
      background: no-repeat top/100% url("/images/eop-cards/denial-of-service-3.png") #fff;
    }
    &.n4 {
      background: no-repeat bottom/100% url("/images/eop-cards/denial-of-service-4.png") #fff;
    }
    &.n5 {
      background: no-repeat top/100% url("/images/eop-cards/denial-of-service-5.png") #fff;
    }
    &.n6 {
      background: no-repeat bottom/100% url("/images/eop-cards/denial-of-service-6.png") #fff;
    }
    &.n7 {
      background: no-repeat center/100% url("/images/eop-cards/denial-of-service-7.png") #fff;
    }
    &.n8 {
      background: no-repeat top/100% url("/images/eop-cards/denial-of-service-8.png") #fff;
    }
    &.n9 {
      background: no-repeat top -15px left/100% url("/images/eop-cards/denial-of-service-9.png") #fff;
    }
    &.n10 {
      background: no-repeat top 2px left/100% url("/images/eop-cards/denial-of-service-10.png") #fff;
    }
    &.nJ {
      background: no-repeat center/100% url("/images/eop-cards/denial-of-service-j.png") #fff;
    }
    &.nQ {
      background: no-repeat top -10px left/100% url("/images/eop-cards/denial-of-service-q.png") #fff;
    }
    &.nK {
      background: no-repeat top/100% url("/images/eop-cards/denial-of-service-k.png") #fff;
    }
    &.nA {
      background: no-repeat bottom/100% url("/images/eop-cards/denial-of-service-a.png") #fff;
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

  &.elevation-of-privilege {
    .left-value {
      background: rgb(229, 114, 63)
    }

    .value {
      color: rgb(69, 139, 189);
    }

    &.nJ, &.nQ, &.nK {
      background: rgb(69, 139, 189);

      .main-content {
        color: #fff;
      }
    }

    &.n2 {
      background: no-repeat top/100% url("/images/eop-cards/elevation-of-privilege-2.png") #fff;
    }
    &.n3 {
      background: no-repeat top/100% url("/images/eop-cards/elevation-of-privilege-3.png") #fff;
    }
    &.n4 {
      background: no-repeat top/100% url("/images/eop-cards/elevation-of-privilege-4.png") #fff;
    }
    &.n5 {
      background: no-repeat top/100% url("/images/eop-cards/elevation-of-privilege-5.png") #fff;
    }
    &.n6 {
      background: no-repeat bottom/100% url("/images/eop-cards/elevation-of-privilege-6.png") #fff;
    }
    &.n7 {
      background: no-repeat center/100% url("/images/eop-cards/elevation-of-privilege-7.png") #fff;
    }
    &.n8 {
      background: no-repeat top 15px left/100% url("/images/eop-cards/elevation-of-privilege-8.png") #fff;
    }
    &.n9 {
      background: no-repeat top/100% url("/images/eop-cards/elevation-of-privilege-9.png") #fff;
    }
    &.n10 {
      background: no-repeat top 30px left/100% url("/images/eop-cards/elevation-of-privilege-10.png") #fff;
    }
    &.nJ {
      background: no-repeat center/100% url("/images/eop-cards/elevation-of-privilege-j.png") #fff;
    }
    &.nQ {
      background: no-repeat top -9px left/100% url("/images/eop-cards/elevation-of-privilege-q.png") #fff;
    }
    &.nK {
      background: no-repeat top/100% url("/images/eop-cards/elevation-of-privilege-k.png") #fff;
    }
    &.nA {
      background: no-repeat bottom/100% url("/images/eop-cards/elevation-of-privilege-a.png") #fff;
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

}

/* MLSec Card Styles */

.card.mlsec {

  .left-value {
    flex: none;
    position: relative;
    top: 0px;
    left: clamp(148px, 16vw, 250px);

    height: clamp(60px, 6vw, 69px);
    width: clamp(66px, 4.6vw, 74px);

    padding: 0 clamp(1px, 3vw, 37px) 0 0;
    border-top-right-radius: clamp(10px, 1vw, 16px);
    border-bottom-right-radius: clamp(10px, 1vw, 16px);

    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Open Sans ExtraBold';
    font-size: clamp(48px, 4.8vw, 77px);
    font-weight: 600;
    text-align: center;
    line-height: 1.3;
  }

  .main-content {
    overflow: hidden;
    flex: auto;
    /*margin: 0 0 0 clamp(-38px, -3.8vw, 61px);*/
    margin: 0 0 0 -58px;

    .value {
      position: absolute;
      bottom: clmap(40px, 4vw, 64px);
      right: clamp(-24px, -2.4vw, -38px);
      color: rgb(42, 10, 60);
      font-family: 'Open Sans Regular';
      font-size: clamp(168px, 16.8vw, 269px);
      font-weight: 400;
      z-index: -1;
    }

    .category {
      margin: clamp(9px, 0.9vw, 14px) 0 0 0;
      font-family: 'Open Sans ExtraBold';
      text-shadow: 2px 2px 2px rgba(42, 10, 60, 0.2);
      color: rgb(42, 10, 60);
      font-size: clamp(18px, 1.8vw, 29px);
      font-weight: 300;
    }

    .risk {
      margin: clamp(35px, 3.5vw, 56px) 0 0 0;
      font-family: 'Open Sans ExtraBold';
      text-shadow: 2px 2px 2px rgba(42, 10, 60, 0.2);
      color: rgb(42, 10, 60);
      font-size: clamp(12px, 1.2vw, 19px);
      font-weight: 300;
    }

    .description {
      font-family: 'Open Sans Regular';
      font-size: clamp(10px, 1vw, 16px);
      padding-right: 0px;
      line-height: 1.3;
    }

    .biml {
      font-family: 'Open Sans Regular';
      font-size: clamp(10px, 1vw, 16px);
      padding-right: 0px;
      padding-bottom: clamp(10px, 1vw, 16px);
      line-height: 1.3;
    }
  }


  &.model-risk {
    
    .left-value {
      //background: rgb(117, 35, 26)
    }

    .value {
      //color: rgb(180, 180, 180);
    }

    &.nJ, &.nQ, &.nK, &.nA {

      .main-content {
        color: rgb(42, 10, 60);
      }

      .left-value {
        color: rgb(42, 10, 60);
        text-shadow: 2px 2px 2px rgba(42, 10, 60, 0.2);
      }

    }

    &.n10 {
      .left-value {
        left: clamp(138px, 13.8vw, 201px);
      }
    }

    &.n2 {
      background: no-repeat -0px -4px url("/images/mlsec/model-2-10.png") #fff;
    }
    &.n3 {
      background: no-repeat -0px -4px url("/images/mlsec/model-2-10.png") #fff;
    }
    &.n4 {
      background: no-repeat -0px -4px url("/images/mlsec/model-2-10.png") #fff;
    }
    &.n5 {
      background: no-repeat -0px -4px url("/images/mlsec/model-2-10.png") #fff;
    }
    &.n6 {
      background: no-repeat -0px -4px url("/images/mlsec/model-2-10.png") #fff;
    }
    &.n7 {
      background: no-repeat -0px -4px url("/images/mlsec/model-2-10.png") #fff;
    }
    &.n8 {
      background: no-repeat -0px -4px url("/images/mlsec/model-2-10.png") #fff;
    }
    &.n9 {
      background: no-repeat -0px -4px url("/images/mlsec/model-2-10.png") #fff;
    }
    &.n10 {
      background: no-repeat -0px -4px url("/images/mlsec/model-2-10.png") #fff;
    }
    &.nJ {
      background: no-repeat -0px -4px url("/images/mlsec/model-J-A.png") #fff;
    }
    &.nQ {
      background: no-repeat -0px -4px url("/images/mlsec/model-J-A.png") #fff;
    }
    &.nK {
      background: no-repeat -0px -4px url("/images/mlsec/model-J-A.png") #fff;
    }
    &.nA {
      background: no-repeat -0px -4px url("/images/mlsec/model-J-A.png") #fff;
    }
    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }

    &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-position: 4px -4px;
    }
  }

  &.input-risk {
    .left-value {
      //background: rgb(2, 113, 55)
    }

    .value {
      //color: rgb(185, 217, 165);
    }

    &.nJ, &.nQ, &.nK, &.nA {
      //background: rgb(116, 187, 99);

      .main-content {
        color: rgb(42, 10, 60);
      }

      .left-value {
        color: rgb(42, 10, 60);
        text-shadow: 2px 2px 2px rgba(42, 10, 60, 0.2);
      }
    }

    &.n10 {
      .left-value {
        left: clamp(138px, 13.8vw, 201px);
      }
    }

    &.n2 {
      background: no-repeat -0px -4px url("/images/mlsec/input-2-10.png") #fff;
    }
    &.n3 {
      background: no-repeat -0px -4px url("/images/mlsec/input-2-10.png") #fff;
    }
    &.n4 {
      background: no-repeat -0px -4px url("/images/mlsec/input-2-10.png") #fff;
    }
    &.n5 {
      background: no-repeat -0px -4px url("/images/mlsec/input-2-10.png") #fff;
    }
    &.n6 {
      background: no-repeat -0px -4px url("/images/mlsec/input-2-10.png") #fff;
    }
    &.n7 {
      background: no-repeat -0px -4px url("/images/mlsec/input-2-10.png") #fff;
    }
    &.n8 {
      background: no-repeat -0px -4px url("/images/mlsec/input-2-10.png") #fff;
    }
    &.n9 {
      background: no-repeat -0px -4px url("/images/mlsec/input-2-10.png") #fff;
    }
    &.n10 {
      background: no-repeat -0px -4px url("/images/mlsec/input-2-10.png") #fff;
    }
    &.nJ {
      background: no-repeat -0px -4px url("/images/mlsec/input-J-A.png") #fff;
    }
    &.nQ {
      background: no-repeat -0px -4px url("/images/mlsec/input-J-A.png") #fff;
    }
    &.nK {
      background: no-repeat -0px -4px url("/images/mlsec/input-J-A.png") #fff;
    }
    &.nA {
      background: no-repeat -0px -4px url("/images/mlsec/input-J-A.png") #fff;
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }

    &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-position: 4px -4px;
    }
  }

  &.output-risk {
    .left-value {
      //background: rgb(117, 35, 26)
    }

    .value {
      //color: rgb(229, 114, 63);
    }

    &.nJ, &.nQ, &.nK, &.nA {
      //background: rgb(229, 114, 63);

      .main-content {
        color: rgb(42, 10, 60);
      }

      .left-value {
        color: rgb(42, 10, 60);
        text-shadow: 2px 2px 2px rgba(42, 10, 60, 0.2);
      }
    }

    &.n10 {
      .left-value {
        left: clamp(138px, 13.8vw, 201px);
      }
    }

    &.n2 {
      background: no-repeat -0px -4px url("/images/mlsec/output-2-10.png") #fff;
    }
    &.n3 {
      background: no-repeat -0px -4px url("/images/mlsec/output-2-10.png") #fff;
    }
    &.n4 {
      background: no-repeat -0px -4px url("/images/mlsec/output-2-10.png") #fff;
    }
    &.n5 {
      background: no-repeat -0px -4px url("/images/mlsec/output-2-10.png") #fff;
    }
    &.n6 {
      background: no-repeat -0px -4px url("/images/mlsec/output-2-10.png") #fff;
    }
    &.n7 {
      background: no-repeat -0px -4px url("/images/mlsec/output-2-10.png") #fff;
    }
    &.n8 {
      background: no-repeat -0px -4px url("/images/mlsec/output-2-10.png") #fff;
    }
    &.n9 {
      background: no-repeat -0px -4px url("/images/mlsec/output-2-10.png") #fff;
    }
    &.n10 {
      background: no-repeat -0px -4px url("/images/mlsec/output-2-10.png") #fff;
    }
    &.nJ {
      background: no-repeat -0px -4px url("/images/mlsec/output-J-A.png") #fff;
    }
    &.nQ {
      background: no-repeat -0px -4px url("/images/mlsec/output-J-A.png") #fff;
    }
    &.nK {
      background: no-repeat -0px -4px url("/images/mlsec/output-J-A.png") #fff;
    }
    &.nA {
      background: no-repeat -0px -4px url("/images/mlsec/output-J-A.png") #fff;
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }

    &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-position: 4px -4px;
    }
  }

  &.dataset-risk {
    .left-value {
      //background: rgb(255, 240, 39)
    }

    .value {
      //color: rgb(0, 159, 156);
    }

    &.nJ, &.nQ, &.nK, &.nA {
      //background: rgb(0, 159, 156);

      .main-content {
        color: rgb(42, 10, 60);
      }

      .left-value {
        color: rgb(42, 10, 60);
        text-shadow: 2px 2px 2px rgba(42, 10, 60, 0.2);
      }
    }

    &.n10 {
      .left-value {
        left: clamp(138px, 13.8vw, 201px);
      }
    }

    &.n2 {
      background: no-repeat -14px -2px url("/images/mlsec/dataset-2-10.png") #fff;
    }
    &.n3 {
      background: no-repeat -14px -2px url("/images/mlsec/dataset-2-10.png") #fff;
    }
    &.n4 {
      background: no-repeat -14px -2px url("/images/mlsec/dataset-2-10.png") #fff;
    }
    &.n5 {
      background: no-repeat -14px -2px url("/images/mlsec/dataset-2-10.png") #fff;
    }
    &.n6 {
      background: no-repeat -14px -2px url("/images/mlsec/dataset-2-10.png") #fff;
    }
    &.n7 {
      background: no-repeat -14px -2px url("/images/mlsec/dataset-2-10.png") #fff;
    }
    &.n8 {
      background: no-repeat -14px -2px url("/images/mlsec/dataset-2-10.png") #fff;
    }
    &.n9 {
      background: no-repeat -14px -2px url("/images/mlsec/dataset-2-10.png") #fff;
    }
    &.n10 {
      background: no-repeat -14px -2px url("/images/mlsec/dataset-2-10.png") #fff;
    }
    &.nJ {
      background: no-repeat -0px -4px url("/images/mlsec/dataset-J-A.png") #fff;
    }
    &.nQ {
      background: no-repeat -0px -4px url("/images/mlsec/dataset-J-A.png") #fff;
    }
    &.nK {
      background: no-repeat -0px -4px url("/images/mlsec/dataset-J-A.png") #fff;
    }
    &.nA {
      background: no-repeat -0px -4px url("/images/mlsec/dataset-J-A.png") #fff;
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }

    &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-position: 4px -4px;
    }
  }
}

/* OWASP Cumulus Card Styles */

.card.cumulus {
  padding-top: clamp(20px, 2vw, 32px);
  padding-left: clamp(20px, 2vw, 32px);
  display: grid;
  grid-template-columns: [left-start] clamp(24px, 2.4vw, 38px) [left-end category-start] clamp(120px, 12vw, 192px) [category-end];
  grid-template-rows: [header-start] clamp(26px, 2.6vw, 42px) [header-end content-start] clamp(225px, 22.5vw, 360px) [content-end];
  grid-template-areas: 
    "header header"
    "content content";
  background-position: clamp(10px, 1vw, 16px) clamp(10px, 1vw, 16px);
  background-size: clamp(200px, 20vw, 320px) clamp(293px, 29.3vw, 469px);
  

  .left-value {
    
    display: grid;
    position: unset;
    padding: unset;
    justify-items: start;
    grid-area: header;
    color: rgb(35, 31, 32);
    font-family: "Josefin Sans Bold";
    font-size: clamp(40px, 4vw, 64px);
    font-weight: 600;
    text-align: center;
    line-height: 1;
  }

  .category {
    position: unset;
    padding: unset;
    margin: unset;
    justify-items: end;
    grid-area: header;
    font-family: "Josefin Sans Bold";
    font-size: clamp(10px, 1vw, 16px);
    font-weight: 300;
    white-space: nowrap;
    grid-column-start: 2;
    
  }

  .left-bar {
    position: unset;
    padding: unset;
    margin: unset;
    grid-area: content;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    align-content: center;


    .left-content {
      position: unset;
      padding: unset;
      margin: unset;
      margin-right: clamp(14px, 1.3vw, 20px);
      text-align: center;
      font-family: "Josefin Sans Bold";
      font-size: clamp(16px, 1.6vw, 26px);
      font-weight: 600;
      line-height: 1;
      writing-mode: sideways-lr;
      text-align: left;
      text-transform: none;
    }
  }


  .main-content {
    grid-area: content;
    color: rgb(35, 31, 32);
    position: unset;
    padding: unset;
    margin: unset;
    grid-column-start: 2;

    .description {
      font-family: "Josefin Sans Regular";
      font-size: clamp(18px, 1.8vw, 29px);
      line-height: 1.3;
      text-align: center;
      position: unset;
      padding: unset;
      margin: unset;
    }
  }


  &.access-secrets {

    .left-bar {
      color: rgb(244, 206, 200);
    }
    &.n2 {
      background: url("/images/cumulus/secrets-and-access-2.png") no-repeat rgb(239, 134, 101);
    }
    &.n3 {
      background: url("/images/cumulus/secrets-and-access-3.png") no-repeat rgb(239, 134, 101);
    }
    &.n4 {
      background: url("/images/cumulus/secrets-and-access-4.png") no-repeat rgb(239, 134, 101);
    }
    &.n5 {
      background: url("/images/cumulus/secrets-and-access-5.png") no-repeat rgb(239, 134, 101);
    }
    &.n6 {
      background: url("/images/cumulus/secrets-and-access-6.png") no-repeat rgb(239, 134, 101);
    }
    &.n7 {
      background: url("/images/cumulus/secrets-and-access-7.png") no-repeat rgb(239, 134, 101);
    }
    &.n8 {
      background: url("/images/cumulus/secrets-and-access-8.png") no-repeat rgb(239, 134, 101);
    }
    &.n9 {
      background: url("/images/cumulus/secrets-and-access-9.png") no-repeat rgb(239, 134, 101);
    }
    &.n10 {
      background: url("/images/cumulus/secrets-and-access-x.png") no-repeat rgb(239, 134, 101);
    }
    &.nJ {
      background: url("/images/cumulus/secrets-and-access-j.png") no-repeat rgb(239, 134, 101);
    }
    &.nQ {
      background: url("/images/cumulus/secrets-and-access-q.png") no-repeat rgb(239, 134, 101);
    }
    &.nK {
      background: url("/images/cumulus/secrets-and-access-k.png") no-repeat rgb(239, 134, 101);
    }
    &.nA {
      background: url("/images/cumulus/secrets-and-access-a.png") no-repeat rgb(239, 134, 101);
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

  &.delivery {
    .left-bar {
      color: rgb(293, 228, 241);
    }
    &.n2 {
      background: url("/images/cumulus/delivery-2.png") no-repeat rgb(87, 193, 235);
    }
    &.n3 {
      background: url("/images/cumulus/delivery-3.png") no-repeat rgb(87, 193, 235);
    }
    &.n4 {
      background: url("/images/cumulus/delivery-4.png") no-repeat rgb(87, 193, 235);
    }
    &.n5 {
      background: url("/images/cumulus/delivery-5.png") no-repeat rgb(87, 193, 235);
    }
    &.n6 {
      background: url("/images/cumulus/delivery-6.png") no-repeat rgb(87, 193, 235);
    }
    &.n7 {
      background: url("/images/cumulus/delivery-7.png") no-repeat rgb(87, 193, 235);
    }
    &.n8 {
      background: url("/images/cumulus/delivery-8.png") no-repeat rgb(87, 193, 235);
    }
    &.n9 {
      background: url("/images/cumulus/delivery-9.png") no-repeat rgb(87, 193, 235);
    }
    &.n10 {
      background: url("/images/cumulus/delivery-x.png") no-repeat rgb(87, 193, 235);
    }
    &.nJ {
      background: url("/images/cumulus/delivery-j.png") no-repeat rgb(87, 193, 235);
    }
    &.nQ {
      background: url("/images/cumulus/delivery-q.png") no-repeat rgb(87, 193, 235);
    }
    &.nK {
      background: url("/images/cumulus/delivery-k.png") no-repeat rgb(87, 193, 235);
    }
    &.nA {
      background: url("/images/cumulus/delivery-a.png") no-repeat rgb(87, 193, 235);
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

  &.recovery {
    .left-bar {
      color: rgb(188, 224, 214);
    }
    &.n2 {
      background: url("/images/cumulus/recovery-2.png") no-repeat rgb(69, 176, 147);
    }
    &.n3 {
      background: url("/images/cumulus/recovery-3.png") no-repeat rgb(69, 176, 147);
    }
    &.n4 {
      background: url("/images/cumulus/recovery-4.png") no-repeat rgb(69, 176, 147);
    }
    &.n5 {
      background: url("/images/cumulus/recovery-5.png") no-repeat rgb(69, 176, 147);
    }
    &.n6 {
      background: url("/images/cumulus/recovery-6.png") no-repeat rgb(69, 176, 147);
    }
    &.n7 {
      background: url("/images/cumulus/recovery-7.png") no-repeat rgb(69, 176, 147);
    }
    &.n8 {
      background: url("/images/cumulus/recovery-8.png") no-repeat rgb(69, 176, 147);
    }
    &.n9 {
      background: url("/images/cumulus/recovery-9.png") no-repeat rgb(69, 176, 147);
    }
    &.n10 {
      background: url("/images/cumulus/recovery-x.png") no-repeat rgb(69, 176, 147);
    }
    &.nJ {
      background: url("/images/cumulus/recovery-j.png") no-repeat rgb(69, 176, 147);
    }
    &.nQ {
      background: url("/images/cumulus/recovery-q.png") no-repeat rgb(69, 176, 147);
    }
    &.nK {
      background: url("/images/cumulus/recovery-k.png") no-repeat rgb(69, 176, 147);
    }
    &.nA {
      background: url("/images/cumulus/recovery-a.png") no-repeat rgb(69, 176, 147);
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

  &.monitoring {
    .left-bar {
      color: rgb(248, 227, 193);
    }
    &.n2 {
      background: url("/images/cumulus/monitoring-2.png") no-repeat rgb(243, 179, 93);
    }
    &.n3 {
      background: url("/images/cumulus/monitoring-3.png") no-repeat rgb(243, 179, 93);
    }
    &.n4 {
      background: url("/images/cumulus/monitoring-4.png") no-repeat rgb(243, 179, 93);
    }
    &.n5 {
      background: url("/images/cumulus/monitoring-5.png") no-repeat rgb(243, 179, 93);
    }
    &.n6 {
      background: url("/images/cumulus/monitoring-6.png") no-repeat rgb(243, 179, 93);
    }
    &.n7 {
      background: url("/images/cumulus/monitoring-7.png") no-repeat rgb(243, 179, 93);
    }
    &.n8 {
      background: url("/images/cumulus/monitoring-8.png") no-repeat rgb(243, 179, 93);
    }
    &.n9 {
      background: url("/images/cumulus/monitoring-9.png") no-repeat rgb(243, 179, 93);
    }
    &.n10 {
      background: url("/images/cumulus/monitoring-x.png") no-repeat rgb(243, 179, 93);
    }
    &.nJ {
      background: url("/images/cumulus/monitoring-j.png") no-repeat rgb(243, 179, 93);
    }
    &.nQ {
      background: url("/images/cumulus/monitoring-q.png") no-repeat rgb(243, 179, 93);
    }
    &.nK {
      background: url("/images/cumulus/monitoring-k.png") no-repeat rgb(243, 179, 93);
    }
    &.nA {
      background: url("/images/cumulus/monitoring-a.png") no-repeat rgb(243, 179, 93);
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

  &.resources {
    .left-bar {
      color: rgb(217, 199, 224);
    }
    &.n2 {
      background: url("/images/cumulus/resources-2.png") no-repeat rgb(153, 115, 179);
    }
    &.n3 {
      background: url("/images/cumulus/resources-3.png") no-repeat rgb(153, 115, 179);
    }
    &.n4 {
      background: url("/images/cumulus/resources-4.png") no-repeat rgb(153, 115, 179);
    }
    &.n5 {
      background: url("/images/cumulus/resources-5.png") no-repeat rgb(153, 115, 179);
    }
    &.n6 {
      background: url("/images/cumulus/resources-6.png") no-repeat rgb(153, 115, 179);
    }
    &.n7 {
      background: url("/images/cumulus/resources-7.png") no-repeat rgb(153, 115, 179);
    }
    &.n8 {
      background: url("/images/cumulus/resources-8.png") no-repeat rgb(153, 115, 179);
    }
    &.n9 {
      background: url("/images/cumulus/resources-9.png") no-repeat rgb(153, 115, 179);
    }
    &.n10 {
      background: url("/images/cumulus/resources-x.png") no-repeat rgb(153, 115, 179);
    }
    &.nJ {
      background: url("/images/cumulus/resources-j.png") no-repeat rgb(153, 115, 179);
    }
    &.nQ {
      background: url("/images/cumulus/resources-q.png") no-repeat rgb(153, 115, 179);
    }
    &.nK {
      background: url("/images/cumulus/resources-k.png") no-repeat rgb(153, 115, 179);
    }
    &.nA {
      background: url("/images/cumulus/resources-a.png") no-repeat rgb(153, 115, 179);
    }

    &.nJ, &.nQ, &.nK, &.nA, &.n2, &.n3, &.n4, &.n5, &.n6, &.n7, &.n8, &.n9, &.n10 {
      background-size: cover;
    }
  }

}

@keyframes ants { to { background-position: 100% 100% } }

.card-player {

  display: flex;

  .name {
    margin-right: clamp(5px, 0.5vw, 8px);
    margin-top: clamp(5px, 0.5vw, 8px);
    line-height: 1.2;
  }

  .vote {
    font-size: clamp(24px, 2.4vw, 38px);
    opacity: 20%;

    &.none {
      cursor: default;
    }

    img {
      cursor: pointer;
      padding-top: clamp(20px, 2vw, 32px);
    }

    .badge {
      font-size: clamp(14px, 1.4vw, 22px);
      line-height: clamp(14px, 1.4vw, 22px);
      margin-bottom: clamp(20px, 2vw, 32px);
     }
  }

  .voted {
    opacity: 100%;
  }

  .scored {
    font-size: clamp(14px, 1.4vw, 22px);
    position: relative;
    top: clamp(20px, 2vw, 32px);
  }

  .mine {
    img {
      cursor: default;
    }
  }

  .drop-zone {
    height: clamp(317px, 31.7vw, 507px);
    width: clamp(224px, 22.4vw, 358px);

    p.play-instruction {
      font-size: clamp(14px, 1.4vw, 22px);
      margin-top: clamp(10px, 1vw, 16px);
    }

    &.empty {
      width: clamp(248px, 24.8vw, 397px);
      color: #BBB;
    }

    &.mine {
      color:#333;
    }

    .placeholder {
      text-align: center;
      margin-top: clamp(60px, 6vw, 96px);
      padding: clamp(10px, 1vw, 16px);
    }
  }
}

.playing-board {
  margin-top: clamp(20px, 2vw, 32px);
  margin-bottom: clamp(20px, 2vw, 32px);
  padding: 0.8vw;
}

.next-round {
  text-align: right;
}

/* Spinner CSS */

.loader {
  font-size: clamp(10px, 1vw, 20px);
  margin: 0;
  text-indent: -9999em;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: #7a7a7a;
  background: -moz-linear-gradient(left, #7a7a7a 10%, rgba(122,122,122, 0) 42%);
  background: -webkit-linear-gradient(left, #7a7a7a 10%, rgba(122,122,122, 0) 42%);
  background: -o-linear-gradient(left, #7a7a7a 10%, rgba(122,122,122, 0) 42%);
  background: -ms-linear-gradient(left, #7a7a7a 10%, rgba(122,122,122, 0) 42%);
  background: linear-gradient(to right, #7a7a7a 10%, rgba(122,122,122, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #7a7a7a;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.round-nav {
  text-align: center;

  span {
    font-size: clamp(24px, 2.4vw, 38px);
    margin-left: clamp(20px, 2vw, 32px);
    margin-right: clamp(20px, 2vw, 32px);
  }
}

#table {
  /*padding-top: 1vw;*/
  display: flex;
  height: clamp(420px, 40vw, 620px);
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
    touch-action: none;
    scroll-behavior: smooth;
  }

  -webkit-overflow-scrolling: touch;
}

#hand {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
    touch-action: none;
    scroll-behavior: smooth;
  }

}

#hand::-webkit-scrollbar, #table::-webkit-scrollbar {
  width: clamp(20px, 2vw, 32px);
  height: clamp(20px, 2vw, 32px);
}

/* Track */
#hand::-webkit-scrollbar-track, #table::-webkit-scrollbar-track {
  background: rgb(243, 244, 246);
  
}

/* Handle */
#hand::-webkit-scrollbar-thumb, #table::-webkit-scrollbar-thumb {
  background: rgb(31 41 55 / var(--tw-bg-opacity));
}

/* Handle on hover */
#hand::-webkit-scrollbar-thumb:hover, #table::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

/* Dragula Styles */@at-root.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  display: none;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
