<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Copi" %></h1>
  <p>Where the world plays Cornucopia</p>

  <span class="button"><a href="games/" style="color: #fff;">Start a new game</span>

</section>
