<.header1>Resources</.header1>

<.header2 class="my-8">OWASP Projects</.header2>

<div>
   <p class="mb-4"><a  href="https://cornucopia.owasp.org" target="_blank">OWASP Cornucopia</a></p>
   <p class="mb-4"> <a href="https://owasp.org/www-project-threat-modeling/" target="_blank" rel="noreferrer noopener" >OWASP Threat Modeling Project</a></p>
   <p class="mb-4"> <a href="https://owasp.org/www-project-threat-dragon/" target="_blank" rel="noreferrer noopener" >OWASP Threat Dragon</a></p>
</div>

<.header2 class="my-8">Articles, blogs, books</.header2>

<div>
    <p class="mb-4"> <a href="https://cornucopia.owasp.org/news" target="_blank">OWASP Cornucopia News</a></p>
    <p class="mb-4"> <a href="https://cheatsheetseries.owasp.org/cheatsheets/Threat_Modeling_Cheat_Sheet.html" target="_blank" rel="noreferrer noopener" >OWASP Threat Modeling Cheat Sheet</a></p>
    <p class="mb-4"> <a href="https://cornucopia.owasp.org/news/20260215-owasp-cornucopia-is-publishing-its-darkest-secrets#Threat-Dragon-and-EoP-Games" target="_blank">How to use OWASP Threat Dragon and Cornucopia together</a></p>
    <p class="mb-4"> <a href="https://devguide.owasp.org/en/04-design/01-threat-modeling/04-cornucopia/" target="_blank" >OWASP Developer Guide - Cornucopia</a></p>
</div>

<.header2 class="my-8">Videos</.header2>

<div>
    <p class="mb-4"><a  href="https://cornucopia.owasp.org/how-to-play#How-to-play-Cornucopia?" target="_blank" >Cornucopia game explained</a></p>
    <p class="mb-4"> <a href="https://cornucopia.owasp.org/how-to-play#Gameplay-using-abuse-case-modelling-approach" target="_blank" rel="noreferrer noopener" >Gameplay using abuse case modelling approach</a></p>
</div>


