---
    name: Build and Deploy The Cornucopia Website for Staging
    on:
      push:
        branches: [master]
        paths:
        - 'cornucopia.owasp.org/**'
        - '.github/workflows/deploy-website-staging.yml'
        - '.github/workflows/build-website-staging.yml'
    permissions:
      contents: read
    jobs:
      hardening:
        name: Hardening
        runs-on: ubuntu-latest
        steps:
          # Make sure we have some code to test
          - name: Harden runner
            uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
            with:
              egress-policy: block
              allowed-endpoints: >
                api.github.com:443
                github-cloud.githubusercontent.com:443
                github.com:443
                motd.ubuntu.com:443
                keys.openpgp.org:443
      build-website-staging:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout repository
            uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
          - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
            name: Install pnpm
            with:
              version: 10.0.0
              run_install: false
          - name: Install Node.js
            uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
            with:
              node-version: 20.18.2
          - name: Build
            working-directory: cornucopia.owasp.org
            run: |
              pnpm install          # Install dependencies
              npm run build-stage   # Build staging version
              npm run coverage
          # Upload Code Coverage for Codeclimate
          - uses: qltysh/qlty-action/coverage@a19242102d17e497f437d7466aa01b528537e899 # v2.2.0
            with:
              token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
              files: cornucopia.owasp.org/coverage/cobertura-coverage.xml
          - name: Archive production artifacts
            uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
            with:
              retention-days: 1
              name: cornucopia-staging-build-artifact-${{ github.sha }}
              path: |
                cornucopia.owasp.org/build
      call-deploy-staging:
        needs: build-website-staging
        uses: ./.github/workflows/deploy-website-staging.yml
        secrets: inherit
