name: ClusterFuzzLite PR fuzzing
on:
  pull_request:
    paths:
      - 'scripts/convert**'
      - 'tests/scripts/convert**'
      - '.github/workflows/cflite_pr.yml'
      - 'tests/scripts/*_fuzzer.py'
      - '.clusterfuzzlite/**'
      - 'install_cornucopia_deps.txt'
      - 'requirements.txt'
permissions: read-all
jobs:
  hardening:
    name: Harden runner
    uses: ./.github/workflows/hardening.yaml
  PR:
    runs-on: ubuntu-latest
    needs: hardening
    concurrency:
      group: ${{ github.workflow }}-${{ matrix.sanitizer }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      fail-fast: false
      matrix:
        sanitizer:
        - address
        - undefined
    steps:
    - name: Build Fuzzers (${{ matrix.sanitizer }})
      id: build
      uses: google/clusterfuzzlite/actions/build_fuzzers@884713a6c30a92e5e8544c39945cd7cb630abcd1 # v1
      with:
        language: python
        github-token: ${{ secrets.GITHUB_TOKEN }}
        sanitizer: ${{ matrix.sanitizer }}
    - name: Run Fuzzers (${{ matrix.sanitizer }})
      id: run
      uses: google/clusterfuzzlite/actions/run_fuzzers@884713a6c30a92e5e8544c39945cd7cb630abcd1 # v1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        fuzz-seconds: 600
        mode: 'code-change'
        sanitizer: ${{ matrix.sanitizer }}
