---
  name: Build and Test Copi
  on:
    workflow_call:
    workflow_dispatch:
  env:
    MIX_ENV: test
    POSTGRES_TEST_PWD: POSTGRES_TEST_PWD
  permissions:
    contents: read
  jobs:
    build-test-copi:
      runs-on: ubuntu-latest # Or another supported runner
      services:
        postgres:
          image: postgres:14
          env:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: POSTGRES_TEST_PWD
            POSTGRES_DB: copi_test
          ports:
            - 5432:5432
          options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

      steps:
        - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
          with:
            ref: ${{ github.event.pull_request.head.sha }}
        - name: build project
          working-directory: copi.owasp.org
          run: docker build -f ./Dockerfile .
        - name: Cache deps
          id: cache-deps
          uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
          env:
            cache-name: cache-elixir-deps
          with:
            path: copi.owasp.org/deps
            key: ${{ runner.os }}-mix-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}
            restore-keys: |
              ${{ runner.os }}-mix-${{ env.cache-name }}-
        - name: Install Elixir and Erlang
          uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
          with:
            elixir-version: 1.18.2
            otp-version: 27.3.3
          env:
            ImageOS: ubuntu24

        - name: Install dependencies
          working-directory: copi.owasp.org
          run: mix deps.get
        - name: Clean the project
          working-directory: copi.owasp.org
          run: mix clean && rm -rf _build
        - name: Compile the project
          working-directory: copi.owasp.org
          run: mix compile
        - name: Reset the DB
          working-directory: copi.owasp.org
          run: mix ecto.reset
        - name: Run tests
          working-directory: copi.owasp.org
          run: |
            mix test --cover
            mix coveralls.cobertura
        - name: Upload Copi coverage to qlty
          uses: qltysh/qlty-action/coverage@a19242102d17e497f437d7466aa01b528537e899
          with:

            token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
            files: copi.owasp.org/cover/cobertura.xml
