# Dependency Review Action
#
# This Action will scan dependency manifest files that change as part of a Pull Request,
# surfacing known-vulnerable versions of the packages declared or updated in the PR.
# Once installed, if the workflow run is marked as required,
# PRs introducing known-vulnerable packages will be blocked from merging.
#
# Source repository: https://github.com/actions/dependency-review-action
name: 'Dependency Review'
on: [pull_request]

permissions:
  contents: read

jobs:
  hardening:
    name: Harden runner
    uses: ./.github/workflows/hardening.yaml
  dependency-review:
    runs-on: ubuntu-latest
    needs: hardening
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2
        with:
          # Ignore GHSA-vg6x-rcgg-rjx6 as the dev server is not used for static projects other than for debugging locally
          allow-ghsas: GHSA-vg6x-rcgg-rjx6,
      - name: 'Create SBOM'
        uses: CycloneDX/cdxgen-action@5668048b6479c5ee557eec3e1766132a4661681f # v1.0.0
        with:
          output: "./reports/bom.xml"
      - name: 'Upload SBOM'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: reports
          path: reports
