---
    name: Deploy The Cornucopia Website on Staging
    on:
      workflow_call:
        secrets:
          CLOUDFLARE_STAGING_API_TOKEN:
            description: "Cloudflare API token for staging"
            required: true
          CLOUDFLARE_STAGING_ACCOUNT_ID:
            description: "Cloudflare account ID for staging"
            required: true
      workflow_dispatch:
    permissions:
      contents: read
    jobs:
      hardening:
        name: Hardening
        runs-on: ubuntu-latest
        steps:
          # Make sure we have some code to test
          - name: Harden runner
            uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
            with:
              egress-policy: block
              allowed-endpoints: >
                api.github.com:443
                github-cloud.githubusercontent.com:443
                github.com:443
                motd.ubuntu.com:443
                keys.openpgp.org:443
      deploy-website-staging:
        runs-on: ubuntu-latest
        needs: hardening
        steps:
          - name: Checkout repository
            uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          - name: Download a single artifact
            uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
            with:
              name: cornucopia-staging-build-artifact-${{ github.sha }}
              path: cornucopia.owasp.org/build
              run-id: ${{ github.event.workflow_run.id }}
          - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
            name: Install pnpm
            with:
              version: 10.0.0
              run_install: false
          - name: Deploy the website
            uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65
            with:
              workingDirectory: "cornucopia.owasp.org"
              apiToken: ${{ secrets.CLOUDFLARE_STAGING_API_TOKEN }}
              accountId: ${{ secrets.CLOUDFLARE_STAGING_ACCOUNT_ID }}
              wranglerVersion: "4.18.0"
              command: pages deploy build --project-name=cornucopia --branch head
            env: 
              CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_STAGING_API_TOKEN }}
              CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_STAGING_ACCOUNT_ID }}
          - name: Deploy the worker routes
            uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65
            with:
                workingDirectory: "cornucopia.owasp.org"
                apiToken: ${{ secrets.CLOUDFLARE_STAGING_API_TOKEN }}
                accountId: ${{ secrets.CLOUDFLARE_STAGING_ACCOUNT_ID }}
                wranglerVersion: "4.18.0"
                command: deploy script/nonce-worker.js --config script/wrangler.toml --env staging
