---
    name: Deploy The Cornucopia Website on Staging
    on:
      workflow_call:
        secrets:
          CLOUDFLARE_STAGING_API_TOKEN:
            description: "Cloudflare API token for staging"
            required: true
          CLOUDFLARE_STAGING_ACCOUNT_ID:
            description: "Cloudflare account ID for staging"
            required: true
      workflow_dispatch:
    permissions:
      contents: read
    jobs:
      hardening:
        name: Hardening
        runs-on: ubuntu-latest
        steps:
          # Make sure we have some code to test
          - name: Harden runner
            uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
            with:
              egress-policy: block
              allowed-endpoints: >
                api.github.com:443
                github-cloud.githubusercontent.com:443
                github.com:443
                motd.ubuntu.com:443
                keys.openpgp.org:443
      deploy-website-staging:
        runs-on: ubuntu-latest
        needs: hardening
        steps:
          - name: Checkout repository
            uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
          - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
            name: Install pnpm
            with:
              version: 10.0.0
              run_install: false
          - name: Install Node.js
            uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
            with:
              node-version: 20.18.2
          - name: Build
            working-directory: cornucopia.owasp.org
            run: |
              pnpm install          # Install dependencies
              npm run build-stage   # Build staging version
          - name: Deploy the worker routes first
            uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65
            with:
                workingDirectory: "cornucopia.owasp.org"
                apiToken: ${{ secrets.CLOUDFLARE_STAGING_API_TOKEN }}
                accountId: ${{ secrets.CLOUDFLARE_STAGING_ACCOUNT_ID }}
                wranglerVersion: "4.18.0"
                command: deploy script/nonce-worker.js --config script/wrangler.toml --env staging

          - name: Deploy the website
            uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65
            with:
              workingDirectory: "cornucopia.owasp.org"
              apiToken: ${{ secrets.CLOUDFLARE_STAGING_API_TOKEN }}
              accountId: ${{ secrets.CLOUDFLARE_STAGING_ACCOUNT_ID }}
              wranglerVersion: "4.18.0"
              command: pages deploy build --project-name=cornucopia --branch head
