name: Secure the pipeline
on:
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  hardening:
    name: Hardening
    runs-on: ubuntu-latest
    steps:
      # Make sure we have some code to test
      - name: Harden runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            azure.archive.ubuntu.com:80
            esm.ubuntu.com:443
            files.pythonhosted.org:443
            github-cloud.githubusercontent.com:443
            github.com:443
            motd.ubuntu.com:443
            packages.microsoft.com:443
            ppa.launchpadcontent.net:443
            pypi.org:443
            opencre.org:443
            codeclimate.com:443
            d3iz1jjs17r6kg.cloudfront.net:443
            keys.openpgp.org:443
            api.codeclimate.com:443