name: Just run tests
on:
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  hardening:
    name: Harden runner
    uses: ./.github/workflows/hardening.yaml
  runtests:
    name: Run Tests
    needs: hardening
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      # Set the pip environment up
      - name: Get Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.11'
          cache: 'pipenv' # caching pip dependencies
      - name: Install dependencies
        run: |
          pip install -r requirements.txt --require-hashes
          pipenv install --ignore-pipfile --dev
      # Run the tests
      - name: Run unit tests
        run: pipenv run python -m unittest discover -s "tests/scripts" -p "*_utest.py"
      - name: Run integration
        run: pipenv run python -m unittest discover -s "tests/scripts" -p "*_itest.py"
      - name: Run smoke tests
        run: pipenv run python -m unittest tests.scripts.smoke_tests -v
      # Test coverage reports
      - name: Check test coverage - run tests
        run: pipenv run coverage run -m unittest discover -s "tests/scripts" -p "*_*test.py"
      - name: Check test coverage - generate xml
        run: pipenv run coverage xml
      - name: Check test coverage - Report
        run: pipenv run coverage report --fail-under 85 scripts/convert*
      # Check formatting of files
      - name: Check formatting of files with Black
        run: pipenv run black --line-length=120 --check .
      - name: Check formatting of files with flake
        run: pipenv run flake8 --max-line-length=120 --max-complexity=10 --ignore=E203,W503
      - name: Check formatting of files for correct spelling and namespace names
        run: pipenv run mypy --namespace-packages --strict ./scripts/
