name: Just run tests
on:
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  hardening:
    name: Harden runner
    uses: ./.github/workflows/hardening.yaml
  runtests:
    name: Run Tests
    needs: hardening
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      # Set the pip environment up
      - name: Get Python
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: '3.10'
          cache: 'pipenv' # caching pip dependencies
      - name: Install dependencies
        run: |
          pip install -r requirements.txt --require-hashes
          pipenv install --ignore-pipfile --dev
      # Run the tests
      - name: Run unit tests
        run: pipenv run python -m unittest discover -s "tests/scripts" -p "*_utest.py"
      - name: Run integration
        run: pipenv run python -m unittest discover -s "tests/scripts" -p "*_itest.py"
      # Test coverage reports
      - name: Check test coverage - run tests
        run: pipenv run coverage run -m unittest discover -s "tests/scripts" -p "*_*test.py"
      - name: Check test coverage - generate xml
        run: pipenv run coverage xml
      - name: Check test coverage - Report
        run: pipenv run coverage report --fail-under 85 scripts/convert*
      # Check formatting of files
      - name: Check formatting of files with Black
        run: pipenv run black --line-length=120 --check .
      - name: Check formatting of files with flake
        run: pipenv run flake8 --max-line-length=120 --max-complexity=10 --ignore=E203,W503
      - name: Check formatting of files for correct spelling and namespace names
        run: pipenv run mypy --namespace-packages --strict ./scripts/
  
    
